<?xml version="1.0"?>
<config>
	<modules>
		<Samsys_Nivobanner>
			<version>1.0</version>
		</Samsys_Nivobanner>
	</modules>
	<frontend>
		<routers>
			<nivobanner>
				<use>standard</use>
				<args>
					<module>Samsys_Nivobanner</module>
					<frontName>nivobanner</frontName>
				</args>
			</nivobanner>
		</routers>
		<layout>
			<updates>
				<nivobanner>
					<file>nivobanner.xml</file>
				</nivobanner>
			</updates>
		</layout>
	</frontend>
	<admin>
		<routers>
			<nivobanner>
				<use>admin</use>
				<args>
					<module>Samsys_Nivobanner</module>
					<frontName>nivobanner</frontName>
				</args>
			</nivobanner>
		</routers>
	</admin>
	<adminhtml>
		<menu>
			<nivobanner module="nivobanner">
				<title>Nivobanner</title>
				<sort_order>75</sort_order>
				<children>
					<nivobanner module="nivobanner">
						<title>Manage Banners</title>
						<sort_order>0</sort_order>
						<action>nivobanner/adminhtml_nivobanner</action>
					</nivobanner> 
					<nivobannergroup module="nivobanner">
						<title>Manage Banner Group</title>
						<sort_order>1</sort_order>
						<action>nivobanner/adminhtml_nivobannergroup</action>
					</nivobannergroup> 
				</children>
			</nivobanner>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<nivobanner>
							<title>Nivobanner Module</title>
							<sort_order>12</sort_order>
							<children>
								<nivobanner>
                                    <title>Manage Banners</title>
                                </nivobanner>
                                <nivobannergroup>
                                    <title>Manage Banner Groups</title>
                                </nivobannergroup>
							</children>
						</nivobanner>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
            <updates>
                <nivobanner>
                    <file>nivobanner.xml</file>
                </nivobanner>
            </updates>
        </layout>
		<translate>
            <modules>
                <Samsys_Nivobanner>
                    <files>
                        <default>nivobanner.csv</default>
                    </files>
                </Samsys_Nivobanner>
            </modules>
        </translate>
	</adminhtml>
	 <global>
	 <models>
            <nivobanner>
                <class>Samsys_Nivobanner_Model</class>
                <resourceModel>nivobanner_mysql4</resourceModel>
            </nivobanner>
            <nivobanner_mysql4>
                <class>Samsys_Nivobanner_Model_Mysql4</class>
                <entities>
                    <nivobanner>
                        <table>nivobanner</table>
                    </nivobanner>
                    <nivobannergroup>
                        <table>nivobannergroup</table>
                    </nivobannergroup>
                </entities>
            </nivobanner_mysql4>
        </models>
		<resources>
            <nivobanner_setup>
                <setup>
                    <module>Samsys_Nivobanner</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </nivobanner_setup>
            <nivobanner_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </nivobanner_write>
            <nivobanner_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </nivobanner_read>
        </resources>
	  <blocks>
            <nivobanner>
                <class>Samsys_Nivobanner_Block</class>
            </nivobanner>            
        </blocks>
	 	<helpers>
            <nivobanner>
                <class>Samsys_Nivobanner_Helper</class>
            </nivobanner>
        </helpers>
		</global>
</config>